html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #eceef1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------*/

/* Page Generals */

.page-width{
	width: 100%;
}

.center-vertically {
    top: 50%;
    transform: translateY(-50%);
}

.center-horizontally{
	margin: auto;
}

.div-align-right{
	text-align: right;
	padding-right: 10px;
}

.div-align-center{
	text-align: center;
	margin: auto;
}

.display-block{
	display: block;
}
.display-inline{
	display: inline;
}

.padding10px{
	padding: 10px;
}

.form-title,
input{
	display: block;
	width: 95%;
	padding-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	color: #4c4c4c;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #4c4c4c;
}

h4{

}

h5{

}

form a:link{
	text-align: center;

}

.form-link,
form a:link,
form a:hover,
form a:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #0077c5;
	text-decoration: none;
}

form a:hover{
	text-decoration: underline;
}



/* HEADER */

header{
	height: 60px;
	padding:10px;
	display: inline-flex;
}
/* Body */

.body-color {
	background-color: #eceef1;
}

/* Form Header*/
ul li{
	list-style-type: none;
	display: inline-block;
}

ul {
	display: flex;  
	align-items: center;  
	justify-content: center;
}

li a{
	font-family: Helvetica;
    font-weight: normal;
    font-size: 12px;
	line-height: 1.5;
	text-decoration: none;
	color: #757575;
	padding-right: 5px;
}

a:visited{
	color: #757575;
}

#logo2{

}

/* FORM */

.form{
	width: 380px;
	height: 800px;
	border: solid 1px rgb(199, 199, 199);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	margin: auto;
}